<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>OCR++</title>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/animate.min.css" rel="stylesheet">
 <!-- Custom styling plus plugins -->
<link href="/static/css/custom.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/maps/jquery-jvectormap-2.0.3.css" /> -->
<!-- <link href="/static/css/icheck/flat/green.css" rel="stylesheet" />  -->
<!--
<link href="/static/css/floatexamples.css" rel="stylesheet" type="text/css" /> -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/nprogress.js"></script>
<!-- 
<link href="/static/css/calendar/fullcalendar.css" rel="stylesheet">
<link href="/static/css/calendar/fullcalendar.print.css" rel="stylesheet" media="print">
--><!-- editor -->
<!-- <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet"> -->
<!-- <link href="/static/css/font/font-awesome.css" rel="stylesheet"> -->
<!-- <link href="/static/css/editor/external/google-code-prettify/prettify.css" rel="stylesheet"> -->
<!-- <link href="/static/css/editor/index.css" rel="stylesheet"> -->
<!-- select2 -->
<!-- <link href="/static/css/select/select2.min.css" rel="stylesheet"> -->
<!-- switchery -->
<!-- <link rel="stylesheet" href="/static/css/switchery/switchery.min.css" /> -->
<!-- ion_range -->
<!-- <link rel="stylesheet" href="/static/css/normalize.css" /> -->
<!--  --><!-- 
<link rel="stylesheet" href="/static/css/ion.rangeSlider.css" />
<link rel="stylesheet" href="/static/css/ion.rangeSlider.skinFlat.css" /> -->
<!-- colorpicker -->
<!-- <link href="/static/css/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/progressbar/bootstrap-progressbar-3.3.0.css"> -->
<!-- 
<link href="/static/css/datatables/tools/css/dataTables.tableTools.css" rel="stylesheet"> -->
